html, body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: lightblue;
    height: 10%;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
main {
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 70% 30%;
}
#certificaciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.carta-container {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: (2, 1);
    align-items: center;
}

.carta-container img {
    position: relative;
    width: 100%;
    height: 70%;
}

aside {
    
}