html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(269, 100%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
    height: 10%;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}
main {
    max-width: 2000px;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    justify-items: center;
}
article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 70px;
}
#certificaciones {
    width: auto;
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    gap: 30px;
    border-radius: 30px;
    background-color: #f1f5f9;
    padding: 30px;
}

.carta-container {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: min-content;
    max-height: 200px;
    align-items: center;
    background-color: white;
    transition: all 0.3s ease;
}
.carta-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.carta-container img {
    position: relative;
    width: 30%;
    height: 100%;
    border-radius: 10%;
}

.titulo-carta-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: space-between;
    border-left: 1px black solid;
    height: 100%;
    width: max-content;
    align-items: flex-start;
}
.titulo-carta {
    margin-left: 15px;
    margin-bottom: 0px;
    font-weight: bold;
}
.categoria-carta {
    color: gray;
    margin-left: 15px;
    margin-top: 0px;
}
.descripcion-carta {
    margin: 15px;
    
}

#titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-self: start;
    display: inline-block;
    width: max-content;
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: auto;
    border-radius: 20px;
    background-color: rgb(200, 148, 230);
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
h1 {
    font-size: 25px;
}

aside {
    width: 300px;
    max-height: 560px;
    background-color: #f1f5f9;
    padding: 30px;
    border-radius: 30px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
}
#barrabaja {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}