p {
    border: 1px solid black;
    outline-color: red;
    outline-style: solid;
}

p.ex1 {
    outline-width: thin;
}

p.ex2 {
    outline-width: medium;
}

p.ex3 {
    outline-width: thick;
}

p.ex4 {
    outline-width: 4px;
}