h1 {
    text-shadow: 2px 2px rgb(144, 128, 128);
}

p {
    text-indent: 50px;
}

p.uppercase {
    text-transform: uppercase;
}

p.lowercase {
    text-transform: lowercase;
}

p.capitalize {
    text-transform: capitalize;
}

p.small {
    line-height: 0.4;
}

p.big {
    line-height: 1.8;
}